.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.nav_mobile-bg-holder {
  display: none;
}

.logo-image {
  flex: none;
  width: auto;
  height: 100%;
  display: block;
}

.navbar {
  background-color: #ddd0;
  align-items: center;
  width: 100%;
  line-height: 1.2;
  display: flex;
  position: sticky;
  top: 0;
}

.nav_04 {
  background-color: #fff0;
  align-items: center;
  width: 100%;
  min-height: 5rem;
  line-height: 1.2;
  display: flex;
  position: sticky;
  top: 0;
}

.menu_line-top {
  background-color: #0f1213;
  border-radius: 2px;
  width: 100%;
  height: 2px;
  padding: 0;
  display: block;
}

.nav-logo-wrap {
  flex-wrap: nowrap;
  width: auto;
  height: 1.2rem;
  display: flex;
}

.nav_04-menu {
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: static;
}

.logo-wrap {
  height: 100%;
  display: flex;
}

.button-bg {
  z-index: -1;
  position: absolute;
  inset: 0%;
}

.button {
  grid-column-gap: .3rem;
  grid-row-gap: .3rem;
  color: #fffffb;
  text-transform: none;
  background-color: #0000c8;
  border: 1px solid #d9d9da;
  border-radius: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: .75rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  transition: opacity .4s;
  display: flex;
  position: relative;
}

.button:hover {
  opacity: .7;
  text-decoration: none;
}

.button.is-secondary {
  color: #0f1213;
  background-color: #fff;
  border: 1px solid #d9d9da;
  transition: border-color .4s, opacity .4s;
}

.button.is-secondary:hover {
  opacity: .7;
  border-color: #0000c8;
}

.nav_buttons-wrap {
  grid-column-gap: .6rem;
  grid-row-gap: .6rem;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.nav-badge {
  color: #f3f3ff;
  background-color: #0f1213;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  padding: 3px;
  font-size: 10px;
  display: flex;
}

.nav_menu-button {
  background-color: #fff0;
  border-radius: 10px;
  width: 3rem;
  height: 3rem;
  padding: .7rem;
  transition: background-color .4s;
}

.nav_menu-button:hover, .nav_menu-button.w--open {
  background-color: #0000000d;
}

.nav_menu-button.w--open:hover {
  background-color: #00000008;
}

.nav_04-menu-links {
  flex-flow: row;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.container-medium {
  z-index: 2;
  width: 100%;
  max-width: 73rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container-medium.nav-container {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  display: flex;
}

.nav-link-bg {
  z-index: -1;
  background-color: #f3f3ff;
  border-radius: 100px;
  display: none;
  position: absolute;
  inset: 0%;
}

.nav_background {
  z-index: -1;
  background-color: #f3f3ff;
  position: absolute;
  inset: 0%;
}

.menu_icon-wrap {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 1.6rem;
  height: 100%;
  display: flex;
}

.nav-link {
  grid-column-gap: .3rem;
  grid-row-gap: .3rem;
  color: #0f1213;
  justify-content: center;
  align-items: center;
  padding: .6rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  transition: color .4s;
  display: flex;
  position: relative;
}

.nav-link:hover {
  color: #0000c8;
  text-decoration: none;
}

.nav-link.w--current {
  color: #0000c8-selected;
}

.menu_line-middle {
  background-color: #0f1213;
  border-radius: 10px;
  width: 100%;
  height: 2px;
  margin-top: .4rem;
  margin-bottom: .4rem;
  padding: 0;
  display: block;
}

.nav_04-logo {
  z-index: 2;
  position: absolute;
  inset: auto;
}

.menu_line-bottom {
  background-color: #0f1213;
  border-radius: 10px;
  width: 100%;
  height: 2px;
  padding: 0;
  display: block;
}

.button-icon {
  color: inherit;
  width: auto;
  height: 1.06rem;
}

.text-simple {
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  margin-bottom: 0;
}

.nav-logo-link {
  opacity: 1;
  padding-left: 0;
  transition: opacity .4s;
}

.nav-logo-link:hover {
  opacity: .8;
}

.nav_menu-right {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: flex;
}

.nav_wrap {
  z-index: 99;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  position: sticky;
  top: 0;
}

.nav-link-wrap {
  justify-content: flex-start;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
}

.blog_10-image-wrap {
  z-index: 0;
  border-radius: 0;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.author_small-info {
  grid-column-gap: .3rem;
  grid-row-gap: .3rem;
  direction: ltr;
  text-align: left;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  display: flex;
  position: relative;
}

.hero-anim-load-4th {
  text-decoration: none;
}

.margin-xsmall {
  margin: .5rem;
}

.margin-xsmall.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.text-size-small {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 0;
  font-size: .85rem;
  font-weight: 400;
  line-height: 1.2;
}

.text-size-small.text-color-white {
  color: #fff;
}

.author-img-wrap {
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.margin-medium {
  margin: 2rem;
}

.margin-medium.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.heading-style-h3 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.75rem;
  font-weight: 500;
  line-height: 1.2;
}

.heading-style-h3.text-color-white {
  color: #fff;
}

.tab_links-cms {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section-hero {
  z-index: 1;
  background-color: #f3f3ff;
  width: 100%;
  position: relative;
}

.blog_10-content {
  z-index: 1;
  grid-column-gap: .6rem;
  grid-row-gap: .6rem;
  direction: ltr;
  text-align: left;
  text-wrap: balance;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 60%;
  height: 100%;
  display: flex;
  position: relative;
}

.padding-global {
  padding-left: 2rem;
  padding-right: 2rem;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.hero-anim-load-2nd {
  text-decoration: none;
}

.blog_image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.blog_image.blog-image-absolute-100 {
  position: absolute;
  inset: 0%;
}

.heading-style-h1 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.margin-small {
  margin: 1rem;
}

.margin-small.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.blog_overlay {
  pointer-events: none;
  background-color: #00000059;
  position: absolute;
  inset: 0%;
}

.blog_10-link {
  z-index: 1;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  color: #fff;
  text-align: left;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  place-items: center stretch;
  width: 100%;
  min-height: 23rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
  text-decoration: none;
  display: grid;
  position: relative;
}

.blog_wrapper {
  width: 100%;
}

.hero-anim-load-1st {
  text-decoration: none;
}

.tabs {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.blog_10-list {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.subtitle {
  color: #0000c8;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

.subtitle.text-color-white {
  color: #fff;
}

.hero-anim-load-3rd {
  text-decoration: none;
}

.blog_hero-top-center {
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 70%;
  margin-bottom: 3em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.author_image {
  object-fit: cover;
  border: 1px solid #d9d9da;
  border-radius: 100%;
  width: 1.8rem;
  min-width: 1.8rem;
  height: 1.8rem;
  min-height: 1.8rem;
}

.tabs-nav {
  grid-column-gap: 3px;
  background-color: #f3f3ff;
  border: 1px solid #d9d9da;
  border-radius: 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 2px;
  line-height: 1;
  display: flex;
  overflow: hidden;
}

.text-size-regular {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

.text-size-regular.text-color-white {
  color: #fff;
}

.max-width-60pct {
  max-width: 60%;
}

.margin-top-auto {
  margin-top: auto;
}

.tab-link {
  color: #0f1213;
  background-color: #0000;
  border: 0 #d9d9da;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  padding: .6rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  transition: all .35s;
  display: flex;
  position: relative;
}

.tab-link:hover {
  opacity: .7;
  color: #0f1213;
  background-color: #0000;
  text-decoration: none;
}

.tab-link.w--current {
  color: #fffffb;
  background-color: #0000c8;
  border: 1px #000;
}

.tab-link.tab-link-active {
  color: #fffffb;
  background-color: #007bff;
  border: 0 #d9d9da;
}

.bento-grid-tall {
  flex-flow: column;
  width: 100%;
  height: 100%;
  display: flex;
}

.bento-grid-normal-img-wrap {
  flex: 1;
  width: 100%;
  min-height: 200px;
  position: relative;
}

.bento-grid-normal-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.bento-mask-bottom {
  position: absolute;
  inset: 0%;
  -webkit-mask-image: linear-gradient(to top, #0000 0%, #000 15%);
  mask-image: linear-gradient(to top, #0000 0%, #000 15%);
}

.bento-grid-card-img-4-holder {
  display: block;
  position: absolute;
  inset: 0%;
}

.bento-grid-full-wide-image {
  object-fit: cover;
  object-position: 50% 0%;
  width: 100%;
  height: 100%;
}

.text-size-regular-2 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

.text-size-regular-2.text-color-inherit {
  color: inherit;
}

.bento-grid-card-2nd-bg {
  z-index: -1;
  position: absolute;
  inset: 0%;
}

.content-flex-vertical {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  display: flex;
}

.bento-grid-card-4th {
  z-index: 1;
  color: #0f1213;
  background-color: #f3f3ff;
  border: 1px solid #d9d9da;
  border-radius: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 1.47px 7.35px 17.6px #0000000d;
}

.bento-grid-card-4-bg {
  z-index: -1;
  position: absolute;
  inset: 0%;
}

.bento-grid-card-5-img {
  display: block;
  position: absolute;
  inset: 0%;
}

.bento-grid-card-5th {
  z-index: 1;
  color: #0f1213;
  background-color: #f3f3ff;
  border: 1px solid #d9d9da;
  border-radius: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 1.47px 7.35px 17.6px #0000000d;
}

.opacity-50-pct {
  opacity: .5;
}

.bento-grid-card-3-bg {
  z-index: -1;
  position: absolute;
  inset: 0%;
}

.bento-grid-wrapper {
  width: 100%;
}

.bento-grid-wide-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.bento-grid-card-2nd {
  z-index: 1;
  color: #0f1213;
  background-color: #f3f3ff;
  border: 1px solid #d9d9da;
  border-radius: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 1.47px 7.35px 17.6px #0000000d;
}

.bento-grid-card-1-img-holder, .bento-grid-card-3-img-holder {
  display: block;
  position: absolute;
  inset: 0%;
}

.bento-grid-card-5-bg {
  z-index: -1;
  position: absolute;
  inset: 0%;
}

.bento-grid-card-6-img-holder {
  display: block;
  position: absolute;
  inset: 0%;
}

.bento-grid-tall-image-wrap {
  flex: 1;
  width: 100%;
  min-height: 200px;
  position: relative;
}

.section {
  z-index: 1;
  background-color: #f3f3ff;
  width: 100%;
  position: relative;
}

.bento-grid-card-2-img-holder {
  display: block;
  position: absolute;
  inset: 0%;
}

.bento-grid-card-3rd {
  z-index: 1;
  color: #0f1213;
  background-color: #f3f3ff;
  border: 1px solid #d9d9da;
  border-radius: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 1.47px 7.35px 17.6px #0000000d;
}

.bento-grid-card-1-bg {
  z-index: -1;
  position: absolute;
  inset: 0%;
}

.bento-grid-7th {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.bento-grid-card-6-bg {
  z-index: -1;
  position: absolute;
  inset: 0%;
}

.heading-style-h5 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

.heading-style-h5.text-color-inherit {
  color: inherit;
}

.bento-grid-normal {
  flex-flow: column;
  width: 100%;
  height: 100%;
  display: flex;
}

.bento-grid-wide-img-wrap {
  flex: 1;
  width: 100%;
  height: 100%;
  min-height: 12.5rem;
  position: relative;
}

.bento-grid-card-1st {
  z-index: 1;
  color: #0f1213;
  background-color: #f3f3ff;
  border: 1px solid #d9d9da;
  border-radius: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 1.47px 7.35px 17.6px #0000000d;
}

.text-align-left {
  text-align: left;
}

.bento-grid-wide {
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
}

.bento-grid-card-6th {
  z-index: 1;
  color: #0f1213;
  background-color: #f3f3ff;
  border: 1px solid #d9d9da;
  border-radius: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 1.47px 7.35px 17.6px #0000000d;
}

.bento-card-content {
  text-wrap: balance;
  padding: 2rem;
}

.grid-content {
  width: 100%;
}

.grid-content.grid-content-relative {
  position: relative;
}

.blog_07-grid {
  grid-column-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-regular-3 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

.blog_07-image-wrap {
  z-index: 2;
  aspect-ratio: 3 / 2;
  border-radius: 0;
  width: 8rem;
  position: absolute;
  top: auto;
  bottom: auto;
  right: 70px;
  overflow: hidden;
  transform: rotate(-5deg);
}

.blog_06-content {
  grid-column-gap: .3rem;
  grid-row-gap: .3rem;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  padding-right: 40px;
  display: flex;
}

.opacity-70pct {
  opacity: .7;
}

.blog_07-item-link {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-top: 1px solid #d9d9da;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  display: flex;
  position: relative;
}

.blog_07-item-link:hover {
  text-decoration: none;
}

.blog_06-author {
  position: absolute;
  top: auto;
  bottom: auto;
  right: 0;
}

.lightbox-2-wrap {
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.features-image {
  width: 100%;
  height: 100%;
}

.video_play-box {
  z-index: 1;
  grid-column-gap: .6rem;
  grid-row-gap: .6rem;
  pointer-events: auto;
  text-wrap: balance;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: relative;
}

.card-bg {
  z-index: -1;
  position: absolute;
  inset: 0%;
}

.list-item-icon-middle {
  grid-column-gap: .6rem;
  grid-row-gap: .6rem;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.list-item-text-wrap {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  min-height: 1.5rem;
  display: flex;
}

.features-image-bg {
  z-index: -1;
  background-color: #0000;
  position: absolute;
  inset: 0%;
}

.list_item-icon-wrapper {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  display: flex;
}

.features-image-wrap {
  z-index: 1;
  aspect-ratio: 1;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.home_video-play-icon {
  pointer-events: none;
  color: #fff;
  background-color: #0003;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.video-person-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.list_item-icon {
  grid-column-gap: .3rem;
  grid-row-gap: .3rem;
  color: #fff;
  text-transform: none;
  background-color: #0000c8;
  background-image: none;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 14px;
  border-radius: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1.37rem;
  min-width: 1.37rem;
  height: 1.37rem;
  min-height: 1.37rem;
  font-weight: 500;
  transition: box-shadow .4s, background-color .4s, color .4s;
  display: flex;
}

.lightbox-2-overlay {
  z-index: -1;
  background-color: #00000026;
  position: absolute;
  inset: 0%;
}

.text-size-regular-4 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

.text-size-regular-4.text-color-gray {
  color: #343a3f;
}

.video-play {
  justify-content: center;
  align-items: center;
  min-width: 12.5rem;
  text-decoration: none;
  display: flex;
  position: relative;
  inset: 0%;
}

.video-play:hover {
  text-decoration: none;
}

.video-person-image-wrap {
  border: 0 solid #d9d9da;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  min-width: 3.75rem;
  height: 3.75rem;
  min-height: 3.75rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.list-item-text {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

.subtitle-2 {
  color: #0000c8;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

.card {
  z-index: 1;
  background-color: #f3f3ff;
  border: 1px solid #d9d9da;
  border-radius: 0;
  width: 100%;
  position: relative;
}

.card.card-full-rounded {
  border-radius: 12.5rem;
}

.play-lightbox-2 {
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.video_play-content-wrap {
  grid-column-gap: .6rem;
  grid-row-gap: .6rem;
  justify-content: flex-start;
  align-items: center;
  padding: .6rem 1.8rem .6rem .6rem;
  display: flex;
}

.play-icon {
  color: inherit;
  width: 1.8rem;
  min-width: 1.8rem;
  height: auto;
}

.features_2col-grid {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  width: 100%;
  display: grid;
}

.features_grid-content {
  grid-column-gap: .6rem;
  grid-row-gap: .6rem;
  text-wrap: balance;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.video-play-relative {
  position: relative;
}

.feature-wrapper {
  width: 100%;
}

.list-holder {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  flex-flow: column;
  width: 100%;
  display: flex;
}

.subtitle-wrap {
  margin-bottom: .625rem;
}

.icon-card-bg {
  z-index: -1;
  position: absolute;
  inset: 0%;
}

.stats_13-grid {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.hero_play-gradient {
  z-index: -1;
  opacity: 0;
  background-color: #0000001f;
  position: absolute;
  inset: 0%;
}

.stats_wrapper {
  width: 100%;
}

.heading-style-h1-2 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
}

.icon {
  aspect-ratio: 1;
  color: #0f1213;
  object-fit: contain;
  width: 100%;
  height: auto;
}

.subtitle-3 {
  color: #0000c8;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

.stats_13-main-grid {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 300px 1fr;
  grid-auto-columns: 1fr;
  place-items: center start;
  width: 100%;
  display: grid;
}

.heading-style-h2 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.header-container {
  text-align: left;
  text-wrap: balance;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 43rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.stats_13-item {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  text-wrap: balance;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2em;
  display: flex;
}

.play_icon-holder {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #0000001a;
  border: 1px solid #ffffff26;
  border-radius: 200px;
  justify-content: center;
  align-items: center;
  width: 5.75rem;
  height: 5.75rem;
  transition: border-color .5s, transform .475s cubic-bezier(.175, .885, .32, 1.275);
  display: flex;
}

.play_icon-holder:hover {
  border-color: #ffffff9c;
  transform: scale(1.1);
}

.icon-card {
  z-index: 1;
  color: #0f1213;
  background-color: #f3f3ff;
  border: 1px solid #d9d9da;
  border-radius: 0;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 4.3rem;
  min-width: 4.3rem;
  max-width: 4.3rem;
  padding: .6rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero_play-icon {
  z-index: 1;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.text-size-regular-5 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

.text-size-regular-5.text-color-gray {
  color: #343a3f;
}

.play-icon-lightbox {
  pointer-events: auto;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
}

.flex-text-center {
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h1-3 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
}

.heading-style-h6 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.heading-style-h2-2 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.faq_07-item-in {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 2rem;
  display: flex;
}

.faq_05-list {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  display: flex;
}

.faq_07-item {
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 100%;
  display: flex;
}

.text-size-regular-6 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

.text-size-regular-6.text-color-gray {
  color: #343a3f;
}

.subtitle-4 {
  color: #0000c8;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

.faq_07-wrap {
  z-index: 1;
  position: relative;
}

.faq_07-content-cta {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.faq_wrapper {
  width: 100%;
}

.header-container-2 {
  text-align: left;
  text-wrap: balance;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 43rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
  display: flex;
}

.faq_07-grid {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr 1.5fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.faq_07-content {
  width: 100%;
  overflow: hidden;
}

.faq_01-item {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  max-width: 47.5rem;
  display: flex;
}

.faq_01-item:hover {
  opacity: .7;
}

.gallery_while-scrolling-image {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.gallery_image {
  pointer-events: auto;
  object-fit: cover;
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.gallery_image-wrap {
  aspect-ratio: 3 / 4;
  width: 100%;
}

.gallery_image-wrap.gallery_07-big-image-wrap {
  aspect-ratio: 2.39;
}

.gallery_wrapper {
  width: 100%;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.gallery_07-grid {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.flex-left {
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.cta_15-grid {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1.3fr 1.2fr 1fr;
  grid-auto-columns: 1fr;
  padding: 2rem;
  display: grid;
}

.list_item-with-icon {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.list_item-with-icon.list_item-padding {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.list_item-with-icon.list_item-border {
  border-bottom: 1px solid #0003;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.cta_image {
  object-fit: cover;
  object-position: 0% 0%;
  border-radius: 0;
  min-width: 100%;
  height: 100%;
}

.heading-style-h2-3 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.cta_wrapper {
  width: 100%;
  overflow: hidden;
}

.text-size-regular-7 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

.cta_15-content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.cta_15-content-middle {
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.button-secondary-bg {
  z-index: -1;
  position: absolute;
  inset: 0%;
}

.icon-1x1-small {
  color: #0000c8;
  width: 1.5rem;
  height: 1.5rem;
}

.text-wrap {
  text-wrap: balance;
}

.footer_04-heading {
  opacity: .7;
  margin-bottom: 1rem;
}

.card-content {
  z-index: 2;
  padding: 2rem;
  position: relative;
}

.footer_04-logo {
  opacity: 1;
  height: 2rem;
  transition-property: opacity;
}

.footer_04-logo:hover {
  opacity: .8;
}

.footer_04-grid {
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  width: 100%;
  display: grid;
}

.footer_logo-wrap {
  flex-flow: row;
  height: 2rem;
  display: flex;
}

.footer_04-content-grid {
  display: block;
}

.link-block-underline {
  background-color: #d9d9da;
  width: 100%;
  height: 1px;
  margin-top: 2px;
}

.footer_04-social-media {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.footer_wrap {
  width: 100%;
}

.footer_04-content-holder {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  text-align: left;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: .4fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: grid;
}

.text-style-link {
  z-index: 1;
  color: #0f1213;
  font-size: .85rem;
  font-weight: 500;
  line-height: 1.3;
  text-decoration: none;
  transition: color .4s;
  position: relative;
  overflow: hidden;
}

.text-style-link:hover {
  color: #0000c8;
  text-decoration: none;
}

.text-style-link.link_footer {
  color: #0f1213;
}

.social-icon {
  width: 100%;
  min-width: 100%;
  height: auto;
}

.social-link {
  z-index: 1;
  opacity: .7;
  color: #0f1213;
  width: 1.25rem;
  height: auto;
  transition: opacity .35s;
  display: flex;
  position: relative;
}

.social-link:hover {
  opacity: 1;
  color: #0f1213;
}

.footer_list-wrap {
  grid-column-gap: .6rem;
  grid-row-gap: .6rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer_04-made-by-section {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
  display: flex;
  overflow: hidden;
}

.footer_link-wrap {
  display: flex;
}

.text-size-regular-8 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}

.footer_04-brand-concept {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 2rem;
  display: flex;
}

.footer_wrapper {
  color: #0f1213;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .nav_mobile-bg-holder {
    z-index: -1;
    display: block;
    position: absolute;
    inset: 0%;
  }

  .menu_line-top {
    background-color: #0f1213;
    border-radius: 10px;
    width: 100%;
    height: 2px;
    display: block;
  }

  .nav_04-menu {
    -webkit-text-fill-color: inherit;
    background-color: #fff0;
    background-clip: border-box;
    align-items: flex-start;
    height: auto;
    margin-left: 0;
    padding: 1.5rem 2rem 2rem;
    position: absolute;
    overflow: auto;
  }

  .button {
    font-weight: 500;
  }

  .nav_buttons-wrap {
    flex-flow: column;
    align-items: stretch;
    display: flex;
  }

  .nav_menu-button {
    width: 44px;
    height: 44px;
    padding-left: .6rem;
    padding-right: .6rem;
  }

  .nav_menu-button.w--open {
    background-color: #0000;
  }

  .nav_04-menu-links {
    grid-column-gap: 0px;
    grid-row-gap: 8px;
    color: #101828;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 0;
    display: flex;
  }

  .container-medium.nav-container {
    justify-content: space-between;
  }

  .nav-link {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .menu_line-middle {
    background-color: #0f1213;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .nav_04-logo {
    position: relative;
  }

  .nav_menu-right {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    align-items: stretch;
    padding-top: 8px;
  }

  .nav-link-wrap {
    width: 100%;
  }

  .heading-style-h3 {
    font-size: 1.75rem;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .heading-style-h1 {
    font-size: 3.7rem;
  }

  .blog_10-link {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .blog_10-list {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .blog_hero-top-center {
    max-width: 100%;
  }

  .blog_07-grid {
    grid-template-columns: 1fr;
  }

  .list_item-icon {
    font-weight: 500;
  }

  .features_2col-grid, .stats_13-grid {
    grid-template-columns: 1fr;
  }

  .heading-style-h1-2 {
    font-size: 3.7rem;
  }

  .stats_13-main-grid {
    grid-template-columns: 1fr;
  }

  .heading-style-h2 {
    font-size: 2.2rem;
  }

  .heading-style-h1-3 {
    font-size: 3.7rem;
  }

  .heading-style-h2-2 {
    font-size: 2.2rem;
  }

  .faq_07-item-in, .faq_05-list {
    justify-content: space-between;
    align-items: flex-start;
  }

  .spacer-xxlarge {
    padding-top: 4rem;
  }

  .cta_15-grid {
    grid-template-columns: 1.3fr 1fr;
  }

  .heading-style-h2-3 {
    font-size: 2.2rem;
  }

  .footer_04-grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .footer_04-content-holder {
    grid-row-gap: 2rem;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    display: flex;
  }

  .text-style-link {
    padding-top: 0;
    padding-bottom: 2px;
  }
}

@media screen and (max-width: 767px) {
  .navbar, .nav_04 {
    min-height: 4.5rem;
  }

  .nav_04-menu, .container-medium.nav-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-link-wrap.flex-center {
    justify-content: flex-start;
    align-items: center;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .padding-global {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .heading-style-h1 {
    font-size: 3.5rem;
  }

  .margin-small {
    margin: 1.25rem;
  }

  .blog_10-link {
    grid-template-columns: 1fr;
  }

  .max-width-60pct {
    max-width: 100%;
  }

  .bento-grid-tall-image-wrap {
    flex: none;
    min-height: 100vw;
  }

  .bento-grid-7th {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .blog_07-grid, .features_2col-grid, .stats_13-grid {
    grid-template-columns: 1fr;
  }

  .heading-style-h1-2 {
    font-size: 3.5rem;
  }

  .stats_13-main-grid {
    grid-template-columns: 1fr;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .heading-style-h1-3 {
    font-size: 3.5rem;
  }

  .heading-style-h2-2 {
    font-size: 2rem;
  }

  .faq_07-grid {
    grid-template-columns: 1fr;
  }

  .faq_01-item {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .gallery_07-grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .heading-style-h2-3 {
    font-size: 2rem;
  }

  .footer_04-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .button {
    border-radius: 0;
  }

  .container-medium.nav-container {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .blog_10-image-wrap {
    border-radius: 0;
  }

  .blog_10-content {
    width: 100%;
  }

  .padding-global {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .heading-style-h1 {
    font-size: 2.1rem;
  }

  .blog_10-link {
    grid-row-gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .subtitle {
    font-size: 14px;
  }

  .blog_hero-top-center {
    margin-bottom: 2em;
  }

  .tabs-nav {
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    padding: 5px;
  }

  .tab-link {
    padding-left: 12px;
    padding-right: 12px;
  }

  .bento-grid-card-4th, .bento-grid-card-5th, .bento-grid-card-2nd, .bento-grid-card-3rd {
    border-radius: 0;
  }

  .heading-style-h5 {
    font-size: 1.1rem;
  }

  .bento-grid-card-1st, .bento-grid-card-6th {
    border-radius: 0;
  }

  .video-play {
    min-width: auto;
  }

  .video-person-image-wrap {
    width: 2.5rem;
    height: 2.5rem;
  }

  .subtitle-2 {
    font-size: 14px;
  }

  .card {
    border-radius: 0;
  }

  .video_play-content-wrap {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    padding: 8px 20px 8px 8px;
    font-size: 14px;
  }

  .play-icon {
    width: 1.25rem;
  }

  .heading-style-h1-2 {
    font-size: 2.1rem;
  }

  .subtitle-3 {
    font-size: 14px;
  }

  .heading-style-h2 {
    font-size: 30px;
  }

  .stats_13-item {
    border-radius: 20px;
    padding: 1.5em;
  }

  .play_icon-holder {
    width: 3.875rem;
    height: 3.875rem;
  }

  .icon-card {
    border-radius: 0;
  }

  .heading-style-h1-3 {
    font-size: 2.1rem;
  }

  .heading-style-h2-2 {
    font-size: 30px;
  }

  .subtitle-4 {
    font-size: 14px;
  }

  .faq_07-content {
    padding-left: 0;
  }

  .gallery_image {
    border-radius: 0;
  }

  .gallery_07-grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .cta_15-grid {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }

  .heading-style-h2-3 {
    font-size: 30px;
  }

  .card-content {
    padding: 1.5rem;
  }

  .footer_04-grid {
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .footer_04-content-holder {
    flex-direction: column;
    grid-template-columns: 1fr;
  }

  .footer_04-made-by-section {
    grid-column-gap: 1.25rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 3rem;
  }
}

#w-node-df00a696-0a28-1d67-ceef-6deb5cdc9b02-1dd84cf4 {
  grid-area: 1 / 2 / 2 / 10;
}

#w-node-df00a696-0a28-1d67-ceef-6deb5cdc9b37-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9b67-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9b77-1dd84cf4 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-df00a696-0a28-1d67-ceef-6deb5cdc9b87-1dd84cf4 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-df00a696-0a28-1d67-ceef-6deb5cdc9ca3-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9cc4-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9ccf-1dd84cf4 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-df00a696-0a28-1d67-ceef-6deb5cdc9cee-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9cf2-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9cf6-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9cfa-1dd84cf4 {
  grid-area: span 1 / span 3 / span 1 / span 3;
}

#w-node-df00a696-0a28-1d67-ceef-6deb5cdc9cfe-1dd84cf4 {
  grid-area: span 1 / span 12 / span 1 / span 12;
}

#w-node-df00a696-0a28-1d67-ceef-6deb5cdc9d02-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9d06-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9d0a-1dd84cf4 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-df00a696-0a28-1d67-ceef-6deb5cdc9d50-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9d5f-1dd84cf4 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9b02-1dd84cf4 {
    grid-area: span 1 / span 6 / span 1 / span 6;
  }

  #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9b1e-1dd84cf4 {
    grid-column: span 1 / span 1;
  }

  #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9d16-1dd84cf4 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }

  #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9d50-1dd84cf4 {
    grid-column: span 3 / span 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9b02-1dd84cf4 {
    grid-column: span 2 / span 2;
  }

  #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9b1e-1dd84cf4 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9b37-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9b47-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9b57-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9b67-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9b77-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9b87-1dd84cf4 {
    grid-column: span 1 / span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9ca3-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9cc4-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9ccf-1dd84cf4 {
    grid-column: span 1 / span 1;
  }

  #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9cee-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9cf2-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9cf6-1dd84cf4, #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9cfa-1dd84cf4 {
    grid-column: span 6 / span 6;
  }

  #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9d16-1dd84cf4 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-df00a696-0a28-1d67-ceef-6deb5cdc9d50-1dd84cf4 {
    grid-column: span 1 / span 1;
  }
}


